.App {
    border: 1px solid $gray;
    background-color: $dark-white;
    max-width: 500px;
    margin: 100px auto;
  }
  
  .wrapper {
    width: 90%;
    margin: auto;
  }
  
  .wrapper--replist {
    background-color: $white;
  }