.footer {
    text-align: center;
}

.button-loader {
    border: 0;
    outline: none;
    background: transparent;
    padding: 15px 0;
    color: $blue;
    font-weight: bold;
    cursor: pointer;
}